@model IEnumerable<OnlineShop.Models.DataContracts.ItemDTO>

@{
    ViewBag.Title = "Items";
}

<div class="container">
    <h1>In the table you can see randomly selected 10 items from the DataBase. Just refresh the page to see the new set.</h1>
    <div>
        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-1">Name</div>
                <div class="col col-2">Description</div>
                <div class="col col-3">Price, UAH</div>
            </li>
            @foreach (OnlineShop.Models.DataContracts.ItemDTO item in ViewBag.Items)
            {
                <li class="table-row" onclick="location.href='/Home/Details/@item.ExternalId';">
                    <div class="col col-1" data-label="Name">@item.Name</div>
                    <div class="col col-2" data-label="Description">@Html.Raw(@item.Description)</div>
                    <div class="col col-3" data-label="Price">@item.Price</div>
                </li>
             }
            </ul>
    </div>
</div>